@model Modelo.Exame

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ExameDetails</title>
</head>
<body>
    <div>
        <h4>Exame</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.descricao)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.descricao)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "ExameEdit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "IndexExame")
    </p>
</body>
</html>
